@import 'nib'
@import './modules/_fonts'



@import './modules/_fonts.styl'
@import './modules/_section'
@import './modules/_tabs'
@import './modules/_colors'
@import './modules/_hero'
@import './modules/_parts'
@import './modules/_joins'
@import './modules/_hide'
@import './modules/_documents'
@import './modules/_reviews'
@import './modules/_new-option'
@import './modules/_dai-pool'
@import './modules/_section-form'
@import './modules/_use-case'
@import './modules/_faq'
@import './modules/_stats'
@import './modules/_select'
@import './modules/_earnings'
@import './modules/_provide-liquidity'
@import './modules/_pop-up'
@import './modules/_statistics'
@import './modules/_token-holders'

@import './modules/_new-use-case'

.button.yellow.secondary
	overflow hidden
	text-overflow ellipsis
	.base
		display none
	&:hover
		.address
			display none
		.base
			display inline

.overflow-visible
	overflow visible !important


.web3modal-modal-card.sc-htoDjs.kXrcm
	background Global-Dark
	border: none;
	border-radius: 0;
	background: none;
	&:before
		z-index -1
		content ''
		position absolute
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		background  Dark-Blue;
		clip-path: polygon(15px 0%, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0% 15px)
	&:after
		z-index -2
		content ''
		position absolute
		height: 100%
		width: 100%
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background Cyan;
		clip-path: polygon(15px 0%, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0% 15px)
.web3modal-provider-name.sc-bwzfXH.itQjME, .web3modal-provider-description.sc-htpNat.ckvmcw
	color Cyan
.web3modal-provider-wrapper.sc-ifAKCX.jCiKwn
	border none
	font-family Jura
	border-bottom 1px solid Cyan
	&:last-child
		border-bottom none
	&:hover
		.web3modal-provider-container.sc-bxivhb.dYgPzD
			background #131d3a
.web3modal-provider-container.sc-bxivhb.dYgPzD
	background Dark-Blue
	border none
	border-radius: 0;
	clip-path: polygon(15px 0%, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0% 15px)
	&:hover
		background #131d3a


.notification-box
	position: fixed;
	max-height: 100vh;
	z-index 5
	right: 0;
	width: 520px;
	min-width 300px
	@media screen and (max-width 1024px)
		width 100vw
.notification-elem
	z-index 100
	margin 20px
	min-height 80px
	box-shadow: 0px 0px 2px #0291CE;
	display flex
	position relative
	// cursor pointer
	clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
	position relative
	display flex
	flex-direction: column;
	padding: 10px 20px;
	box-sizing: border-box;
	justify-content: space-around;
	.notification__text
		font-size 14px
	@media screen and (max-width 1024px)
		clip-path none
		background none
		border 1px solid transparent
		border-bottom 1px solid #64FFF6
		box-shadow none
		// &:before
		// 	display none
		// .dropdown__question--text
		// 	margin-left 0
	&:before
		z-index -1
		content ''
		position absolute
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		top: 1px;
		left: 1px;
		bottom: 1px;
		right: 1px;
		background Dark-Blue
		clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);
	&:after
		z-index -2
		content ''
		position absolute
		height: 100%
		width: 100%
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background Cyan;
		clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%, 0 15px);





















a
	text-decoration: none
a.a-hegic
	display flex

body
	margin: 0;
	height: 100vh;
	min-width: 320px;
.main
	flex 1
	display flex
	flex-direction: column;
	background-color #121C36
	// .header__tab
	// 	display none
	&.migration
		height 100vh
		.hero-text
			font-size 18px
		.hero-status--title
			font-size 16px
		.hero-content
			height: calc(100vh - 120px);
		.hero-box
			height 100vh
		.hero-content-box, .hero-status
			margin auto
		.hero-title, .hero-text
			text-align: center;

	&.connected
		.radio
			height 36px
			max-width 280px
			// max-width 250px
			padding 5px
			border-radius 2px
			border: 1px solid Accent-Blue;
			background Dark-Blue
			.radio__text
				color Accent-Blue
			.select
				.radio__text
					color #1C2A4F
			.radio__value
				border-radius 2px
				&:hover
					.radio__text
						text-shadow: 0px 0px 15px Accent-Blue;
		.my-select
			height: 36px;
			.my-select__selected, .my-select__vals
				border-radius: 2px;
				border: 1px solid #6680CC;

		// .header__tab
		// 	display block
		background: url('assets/img/hexa.png'), Global-Dark;
		&.statistics
			background Global-Dark;
		.hero
			// background Global-Dark
			padding-bottom 0
			&:after
				display none
		.section
			&.hero, &.bottom
				&:before
					display none




		.dropdown__question
			@media screen and (max-width 1024px)
				border-bottom 1px solid Accent-Blue
				&:after
					background Cyan
			&:before
				background: Dark-Blue-Radial
			&:after
				background Accent-Blue
			.dropdown__question--text
				&:after
					background url('assets/img/dropdown-close--connected.svg')
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
			&.open
				&:before
					display none
				&:after
					background Cyan
				.dropdown__question--text
					&:after
						background url('assets/img/dropdown-open.svg')
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
				.dropdown__question--text
					font-weight: bold;
					font-size: 16px;
					line-height: 160%;
					color: #121C36;
			.dropdown__question--text
				color: Ultralight-Blue
				font-weight: 500;






		.join__icon
			background url('assets/img/square--connected.svg')
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		.document
			background: Dark-Blue-Radial
		.header.footer
			z-index 0


		.status-box
			&.volume
				&:before
					background url('assets/img/icon-volume--connected.svg')
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
			&.turnover
				&:before
					background url('assets/img/icon-turnover--connected.svg')
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
			&.premiums
				&:before
					background url('assets/img/icon-premiums--connected.svg')
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;


//logo
.hegic
	cursor pointer
	font-family: Jura;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 100%;
	color: Cyan;
	margin auto 0
	z-index 1
	@media screen and (max-width 768px)
		font-size: 20px;

.icon-menu
	width 30px
	background url('assets/img/icon-menu.svg')
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right 25px
	@media screen and (min-width 1025px) and (max-width 1280px)
		display none
	@media screen and (min-width 1281px)
		display none
	&.close
		background url('assets/img/close.svg')
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;




.mobile-menu
	position fixed
	height 100%
	width 100%
	z-index 10
	background: #19274d80;
	transition: background 1s, z-index 1s;
	&.hidden
		z-index -3
		background #ffffff00
		.mobile-menu-box
			left -400px


.mobile-menu-box
	transition: left 1s;
	left 0
	width 350px
	height: 100%;
	position relative
	background: linear-gradient(180deg, #203060b3 52.6%, #19264Db3 100%);
	box-shadow: 10px 0px 10px rgba(18, 28, 54, 0.5);

	@media screen and (max-width 768px)
		width 280px
	.tabs
		display flex
		flex-direction: column;
		margin 20px 0 0 0
	.header__tab
		display flex
		text-align: left;
		height: 68px;
		padding: 20px 0 20px 30px;
		margin 0
		box-sizing: border-box;

		font-family: Jura;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 100%;
		color: Ultralight-Blue;

		&.select
			font-family: Jura;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 100%;
			color Cyan
			background Dark-Blue
			@media screen and (max-width 768px)
				font-size: 20px;
		@media screen and (max-width 768px)
			font-size: 20px;
			padding 24px 0 24px 25px

		&:before, &:after
			display none

.mobile-menu__header
	// background-color #121C36
	height 101px
	display: flex;
	.close
		margin-left 30px
	@media screen and (max-width 768px)
		height 61px
		.close
			margin-left 20px







//header
.header
	min-height 100px
	display flex
	@media screen and (max-width 1024px)
		.header__tab
			display none
	.header__box
		display flex
		flex 1
		@media screen and (min-width 1281px)
			width: 1120px;
			margin: auto;
			max-width 1120px

	&.footer
		background: rgba(28, 41, 77, 0.5);
		position relative
		@media screen and (max-width 1024px)
			.header__tab
				display none
		@media screen and (max-width 768px)
			padding 0 20px
			min-height 60px
			border none
			.button
				height 32px
				font-size: 12px;
				line-height: 100%;
				width auto
				padding 0 15px
		@media screen and (min-width 769px) and (max-width 1024px)
			border none
			padding 0 30px
		@media screen and (min-width 1025px) and (max-width 1280px)
			padding 0 30px
		@media screen and (min-width 1281px)
			padding 0 160px
			// padding: 0 0 40px 0;
			// width: 1120px;
			// margin: 0 auto;
		&:before
			content ''
			position absolute
			height 100%
			width 100%
			background-color #121C36
			z-index -1
			left 0




//section--docs-and-join
.docs-and-join__box
	flex 1
	&:first-child
		max-width 50%
	&:last-child
		max-width 40%
	@media screen and (max-width 1024px)
		max-width 100% !important


//tables scroll
.your-option__table, .dai-pool__table, .earnings-dynamics__table
	overflow auto
	&::-webkit-scrollbar
		width: 4px;
	&::-webkit-scrollbar:horizontal
		height 10px
	&::-webkit-scrollbar-track-piece
		background Dark-Blue-Radial
	&::-webkit-scrollbar-thumb
		border-radius 2px
		background-color: Accent-Blue
		cursor pointer



//section--your-option
.your-option__red-info
	background Warning-Red
	margin-top: 25px;
	padding: 20px;
	text-align: center;
	border: 5px dashed #131e3d;
	.text
		font-size: 18px;
	a
		color white
		font-weight: bold;
		border-bottom: 1px dashed white;

.your-option__table
	margin-top 25px
	max-height: 655px;
	overflow: auto;


.switch-pool
	@media screen and (max-width 769px)
		flex-direction row
		.document
			margin 0 10px
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0
			.document__title
				padding 70px 10px 20px 10px
				&:before
					width 100%
					left 0
				&.eth
					&:before
						top 20px
						height 40px
				&.dai
					&:before
						top 25px
						height 30px
				&.wbtc
					&:before
						top 20px
						height 40px
				.text
					white-space: normal;
					margin 0 auto
					padding 0
					text-align: center;

	@media screen and (min-width 769px) and (max-width 1024px)
		flex-direction row
		.document
			margin 0 20px
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0
			.text
				white-space: normal;




// .defipulse
// 	margin 20px auto 0 auto
// .icon-defipulse
// 	background url('assets/img/defipulse.svg')
// 	background-size: contain;
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	height: 20px;
// 	width: 100px



.form-periods
	display flex
	// flex-direction row
	flex-direction: row-reverse;
	// margin: 0px 22px;
	margin: 20px 0 80px 0;


.form-periods__period
	cursor pointer
	position relative
	&.select
		.periods__period-icon-2
			padding 3px
			border-color Cyan
		.periods__period-icon-1
			border-color Cyan
			background Cyan
		.periods__period-text
			font-weight: bold;
			color: Cyan;
		// ~.form-periods__period
		// 	.periods__period-text
		// 		font-weight: bold;
		// 		color: Cyan
		// 	.periods__period-icon-1
		// 		border-color Cyan
		// 		background Cyan
		// ~.form-periods__line
		// 	  background Cyan





.periods__period-icon-1
	width: 10px;
	height: 10px;

	border: 2px solid Accent-Blue
	box-sizing: border-box;
	border-radius: 2px;

	margin auto
	// padding 5px
.periods__period-icon-2
	// border: 2px solid #07646E;
	border: 2px solid transparent
	box-sizing: border-box;
	border-radius: 5px;

	margin auto
	padding 3px 0
.periods__period-text
	font-family: Jura;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;

	// font-family: Exo2;
	// font-style: normal;
	// font-weight: 500;
	// font-size: 14px;

	line-height: 100%;
	text-align: center;

	color: Accent-Blue

	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	white-space: nowrap;
	margin-top 13px

.form-periods__line
	height: 2px;
	background: Accent-Blue

	flex 1
	margin 9px 5px auto 5px
	// margin 9px 0 auto 0


.statistics
	.dai-pool__table
		max-height 660px
.pagination-box
	margin: 20px auto 0 auto;
	color Ultralight-Blue
	.btn-next, .btn-prev
		// background transparent !important
		color Accent-Blue !important
		background Dark-Blue  !important
		border 1px solid Muted-Blue
	.el-pager
		li
			color Accent-Blue !important
			background Dark-Blue  !important
			border 1px solid Muted-Blue
			font-family Exo2
			font-size: 12px;
			line-height: 24px;
			@media screen and (max-width 1024px)
				line-height: 20px;
			&:hover
				color Accent-Blue
			&.active
				color Cyan !important
				border 1px solid Cyan
