
@font-face {
	font-family: 'Jura'
	src: url('~assets/fonts/jura/Jura-Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal
}

@font-face {
	font-family: 'Jura'
	src: url('~assets/fonts/jura/Jura-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal
}

@font-face {
	font-family: 'Exo2'
	src: url('~assets/fonts/exo2/static/Exo2-Medium.ttf') format('truetype')
	// src: url('~assets/fonts/exotwo/Exo2.0-Medium.otf') format('opentype')
	font-weight: 500
	font-style: normal
}

@font-face {
	font-family: 'Exo2'
	src: url('~assets/fonts/exo2/static/Exo2-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal
}

@font-face {
	font-family: 'Exo'
	src: url('~assets/fonts/exo/Exo-Medium.ttf') format('truetype')
	font-weight: 500
	font-style: normal
}
@font-face {
	font-family: 'Exo'
	src: url('~assets/fonts/exo/Exo-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal
}

@font-face {
	font-family: 'Emoji'
	src: url('~assets/fonts/emoji/NotoColorEmoji.ttf') format('truetype')
	font-weight: normal
	font-style: normal
}
