// @media screen and (max-width 768px)

// @media screen and (min-width 769px) and (max-width 1024px)

// @media screen and (min-width 1025px) and (max-width 1280px)

// @media screen and (min-width 1281px)


.hide-on-phone--min
	@media screen and (max-width 768px)
		display none !important

.show-on-phone--min
	@media screen and (min-width 769px) and (max-width 1024px)
		display none !important
	@media screen and (min-width 1025px) and (max-width 1280px)
		display none !important
	@media screen and (min-width 1281px)
		display none !important

.hide-on-phone
	@media screen and (max-width 768px)
		display none !important
	@media screen and (min-width 769px) and (max-width 1024px)
		display none !important

.hide-on-computer
	@media screen and (min-width 1025px) and (max-width 1280px)
		display none !important
	@media screen and (min-width 1281px)
		display none !important