Global-Dark  		= #131D39;
Dark-Blue 	 		= #19274D;
Blue  				= #203160;
Bright-Blue  		= #263B73;
Accent-Blue  		= #667FCC;
Muted-Blue  		= #2D5286;
Cyan 				= #45FFF4;
Warning-Red  		= #FF6666;
Warning-Yellow  	= #FFD24C;
Ultralight-Blue  	= #DEFEFE;
Juicy-Blue 			= #1D509E;
Dark-Cyan 			= #0F5467;

Rectangle-249  		= #16697E;
Dark-Blue-Radial 	= radial-gradient(50% 50% at 50% 50%, #203060 52.6%, #19264D 100%);
Green-Radial 		= radial-gradient(50% 50% at 50% 50%, #07646E 52.6%, #0F5266 100%);